langchain==0.0.346
chromadb==0.4.15
sentence-transformers==2.2.2
huggingface-hub==0.22.2
transformers==4.30.0
ollama==0.1.7
torch==2.1.0
torchvision==0.16.0
torchaudio==0.16.0
numpy==1.24.3
tiktoken==0.5.1
urllib3==1.26.18
packaging==23.2